/* Global styles */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

header, footer {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


/* Section Styles */

/* Header bar styles */
header {
    padding: 20px;
    background-color: #2a607c;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    position: relative;
}

header h1 {
    font-size: 48px;
}

/* Gives the SEO in Horiseon a different colour */
header h1 .seo {
    color: #abedff;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    font-size: 18px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* CSS for hamburger menu on mobile. Not displayed until under 600px screen width. */
.bars {
    position: absolute;
    right: 30px;
    top: 40px;
    display: none;
}
.bar1, .bar2, .bar3 {
    width: 30px;
    height: 5px;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 5px;
}

/* Main section styles */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* Webpage content container */
.content {
    display: grid;
    grid-template-columns: 75% 22%;
    margin-left: 20px;
    grid-gap: 20px;
}


article {
    display: flex;
    height: auto;
    padding: 50px;
    margin-bottom: 20px;
    background-color: #0072bb;
    color: #ffffff;
}

article img {
    width: 30%;
    object-fit: cover;
    max-height: 200px;
}

article h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.articleText {
    padding-left: 20px;
    width: 70%;
}

 /* removes bottom margin from last article so articles align with the aside on full width screens */
.social-media-marketing {
    margin-bottom: 0;
}

.benefits {
    width: 100%;
    margin-right:20px;
    padding: 20px;
    background-color: #2589bd;
}

.benefits ul {
    list-style-type: none;
}

.benefits ul li {
    padding: 15px 0;
    color: #ffffff;
}

.benefits ul li h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefits ul li img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

footer {
    padding: 30px;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}

/* media queries */
@media screen and (max-width: 1003px) {
     /* Stack the nav menu  */
   nav ul {
    display: flex;
    flex-direction: column;
   }

   nav ul li {
    padding-bottom: 10px;
    text-decoration: underline;
   }

   /* Stack articles section above the aside */
   .content {
    grid-template-columns: repeat(auto-fill, minmax(90%, 1fr));
    margin-right: 20px;
   }
   
   /* Have hero take up less space on smaller screen widths */
   .hero {
    height: 60vh;
   }

   /* Have aside list items display in a row */
   .benefits ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    text-align: center;
   }
}

@media screen and (max-width: 812px) {
    /* stack article content */
    article {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
     article img {
        width: 75%;
     }

    .articleText {
        width: 100%;
        padding-top: 30px;
    }

    /* Reduce h2 font size to fit mobile layout better */
    .articleText h2 {
        font-size: 24px;
    }

    /* return aside to stacked but full width */
    .benefits {
        display: flex;
        justify-content: center;
    }

    .benefits ul {
        grid-template-columns: 1fr;
        justify-content: center;
        width: 75%;
    }

}
@media screen and (max-width: 600px) {
    /* Class to toggle the display of menu when hamburger icon is clicked */
    .open {
        display: block;
    }

    /* Styles for mobile pop out menu */
    nav ul {
        display: none;
        position: absolute;
        left: 0;
        right: 0;
        top: 90px;
        width: 100%;
        background: #d9dcd6;
        text-align: right;
        padding-right: 30px;
    }

    header nav ul li {
        display: block;
        padding: 10px 0;
        text-decoration: underline;
        color: #000;
    }

    nav ul li a{
        color: #000;
    }

    /* Displays hamburger icon */
    .bars {
        display: block;
    }

    /* Adjust articles to full width on mobile */
    article {
        padding: 30px;
    }

    article img {
        width: 90%;
    }
    
    .articleText {
     width: 100%;
    }

    /* Reduce footer size on mobile */
    footer h2 {
        font-size: 16px;
    }
    
    footer p {
        font-size: 12px;
    }
}

